
<div class="about">

  <%# 画面上部画像部分 %>
  <div class='title-contents'>
  </div>

  <%# アプリの紹介 %>
  <div class='service-aim'>
    <br><h2 class='service-title'>Appointment　Note</h2>
    <p class='service-explanation'>
      <br>あらかじめ決めていた<span class="red">大切なポイント</span>を<span class="red">商談直後</span>に振り返る！
      <br>「商談の結果」と「自分自身の強み・課題」をシンプル操作で登録可能。
      <br>受注・失注の要因を毎商談分析を繰り返し、
      <br>営業としての成長を最速で実現させていきましょう！
    </p>
  </div>

  <%# アプリの使い方 %>
  <div class='how-to'>
    <br><h2 class='how-to-title'>使い方はこちらをチェック！</h2>
    <div class="how-to-items">
      <div class="how-to-item">
        <p>①アポが取れたら、社名・約束日・チェックリストを選択して保存しましょう</p>
        <%= image_tag "howto1.jpg", class: "item-img"%>
        <br><p>　チェックリストの項目は「チェックリスト一覧」から閲覧可能！</p>
        <%= image_tag "howto2.jpg", class: "item-img" %>
      </div>
      <div class="how-to-item">
        <p>②商談が終わったらすぐに振り返りを行いましょう！</p>
        <p>　チェック項目に沿って0~5点の点数を入力してください</p>
        <%= image_tag "howto3.jpg", class: "item-img" %>  
        <p>　受注・失注・検討中に分けて保存されるので振り返りもらくらく！</p>
        <%= image_tag "howto4.jpg", class: "item-img" %>
      </div>
    </div>
  </div>
<div class="about-footer">
    <div class="about-copyright">Copyright&copy;YUU UYAMA. All Rights Reserved.</div>
  </div>
</div>

  

