<div class="about">

  <%# 画面上部の「アプリの概要説明」帯部分 %>
  <div class='title-contents'>
  </div>
  <%# /画面上部の「アプリの概要説明」帯部分  %>

  <%# アプリの使い方 %>
  <div class='service-aim'>
    <br><h2 class='service-title'>”アプリ名”の目的</h2>
    <p class='service-explanation'>
      <br>「行動量はできている！質をもっと高めていきたい！」
      <br>「商談後、すぐに振り返りを行いたい」
      <br>「チェックする項目が属人的になっている」
      <br>
      <br>　そんな課題をお持ちの新人営業さんや営業組織のみなさまへ。
      <br>　確認すべき項目を、商談後すぐにチェックし
      <br>　的確な成長曲線を描いていくためのツールです。
      <br>
    </p>
  </div>
  <%# アプリの使い方 %>

  <%# アプリの使い方 %>
  <div class='how-to'>
    <br><h2 class='how-to-title'>”アプリ名”の使い方</h2>
    <div class="how-to-items">
      <div class="how-ro-item">
        <%= image_tag "img1.jpg", class: "item-img" %>
        <p>①チェック項目を登録！</p>
      </div>
      <div class="how-ro-item">
        <%= image_tag "img2.jpg", class: "item-img" %>  
         <p>②アポが取れたら登録！</p>
      </div>
      <div class="how-ro-item">
        <%= image_tag "img3.jpg", class: "item-img" %>  
         <p>③商談が終わったらチェック！</p>
      </div>
    </div>
  </div>
  <%# アプリの使い方 %>
  
  </div>
 