/* アポ情報入力 */
.appt-input-contents{
  display: flex;
}
.appt-input-main {
  background-color: #c3daea;
  margin: 10vh auto;
}

.appt-input-title{
  margin: 10px;
  font-size: 3vmin;
}

.new-appt{
  display: flex;
}

.appt_content{
  height: 30px;
}

.appt-input-btn{
  background-color: #335495;
  color: black;
  padding: 10px;
}

/* 一覧 */
table th {
  padding: 5px;
}

.company-lists{
  background-color: #84a7dd;
}

.company-list{
  background-color: #b6d5eb;
}

table td {
  padding: 3px 10px;
}

table {
  border: solid 2px #65a7fc;
  width: 80%

}
table th, table td {
  border: solid 1px  black;
  text-align: center;
  white-space: nowrap;
}

.table-lists{
  width: 80%; 
  margin: auto; 
  margin-bottom: 20px;
}
.table-lists-last{
  width: 80%; 
  margin: auto; 
  margin-bottom: 60px;
}

.td-date{
  width: 20%;
}

.td-company{
  width: 40%;
}

.td-result{
  width: 15%;
}

.td-score{
  width: 15%;
}

.th-title{
  width: 70%;
}

.table-check{
  width: 50vw; 
  margin: auto; 
  margin-bottom: 40px;
}

.appt-new{
  height: calc(100vh- 8vh - 100px);
  overflow: scroll; 
  height: 100vh;
}

.company-lists-sub{
  background-color: #d9e3eb;
}