/* トップページ上部 */
.title-contents{
  width: calc(100vw - 30vw);
  background-size: cover;
  background-image: url('top.jpg');
  height: 20vh;
}

.service-title{
  font-size: 4vmin; 
}

.service-explanation{
  font-size: 3vmin ; 
}
/* トップページ上部 */

/* トップページ中段 */
.service-aim{
  width: calc(100vw - 30vw);
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 15px;
}

.how-to{
  width: calc(100vw - 30vw);
  background-size: cover;
  background-color: rgb(213, 223, 252);
}

.how-to-title{
  font-size: 4vmin;
  margin-left: 30px;
}

.how-to-items{
  display: flex;
  background-color: rgb(213, 223, 252);
  margin-bottom: 60px;
  width:  100%;
}

.how-ro-item{
  font-size: 2vmin;
  width: 30%;
  margin: 10px;
}

.item-img {
  margin-right: 10px;
  width: 30vh;
  height: 30vh;
}


.how-to-explanation{
  font-size: 3vmin ;
}
/* トップページ中段 */

/* トップページ下段 */

.heading{
  font-size: 5vmin;
  
}

.explanation{
  font-size: 3vmin ;
 
}
/* トップページ下段 */

/* アポ情報入力 */

.appt-input-contents{
  display: flex;
}
.appt-input-main {
  background-color: #c3daea;
  margin: 10vh auto;
  
}

.appt-input-title{
  margin: 10px;
  font-size: 3vmin;
}

.new-appt{
  display: flex;
}

.appt_content{
  height: 30px;
}

.appt-input-btn{
  background-color: #335495;
  color: white;
  padding: 10px;
}

/* 一覧 */
table th {
  padding: 5px;
}

.company-lists{
  background-color: #84a7dd;
}

.company-list{
  background-color: #c3daea;
}

table td {
  padding: 3px 10px;
}

table {
  border: solid 2px rgb(101, 167, 252);
  width: 80%

}
table th, table td {
  border: solid 1px  black;
  text-align: center;
  white-space: nowrap;
}

.table-lists{
  width: 80vw; 
  margin: auto; 
  
}

.table-check{
  width: 50vw; 
  margin: auto; 
  margin-bottom: 40px;
}


