.main{
  height: calc(100vh- 8vh - 100px);
  padding: 50px 0 0 0;
}


/* トップページ上部 */
.title-contents{
  width: 100vw;
  height: 25vh;
  background-size: cover;
}

.service-title{
  font-size: 5vmin;
  text-align: center;
}

.service-explanation{
  font-size: 3vmin ;
  text-align: center;
}
/* トップページ上部 */

/* トップページ中段 */
.how-to{
  width: 100vw;
  height: 25vh;
  background-size: cover;
}

.how-to-title{
  font-size: 5vmin;
  text-align: center;
}

.how-to-explanation{
  font-size: 3vmin ;
  text-align: center;
}
/* トップページ中段 */

/* トップページ下段 */
.using{
  width: 100vw;
  height: 25vh;
  background-size: cover;
}

.heading{
  font-size: 5vmin;
  text-align: center;
}

.explanation{
  font-size: 3vmin ;
  text-align: center;
}
/* トップページ下段 */

/* アポ情報入力 */

.appt-input-contents{
  display: flex;
}
.appt-input-main {
  background-color: rgb(194, 238, 252);
  min-width: 450px;
  margin: 10vh auto;
}

.appt-input-title{
  margin: 10px;
}

.new-appt{
  display: flex;
}

.appt_content{
  height: 30px;
}

.appt-input-btn{
  background-color: #5d8ef0;
  padding: 10px;
}

/* 一覧 */
table th {
  padding: 5px;
}

.company-lists{
  background-color: #73bce9;
}

.company-list{
  background-color: #addfff;
}

table td {
  padding: 3px 10px;
}

table {
  border: solid 2px rgb(101, 167, 252);
  width: 80%

}
table th, table td {
  border: solid 1px  rgb(101, 167, 252);
  text-align: center;
  white-space: nowrap;
}

.table-lists{
  width: 80vw; 
  margin: auto; 
  margin-bottom: 20px;
}

.table-check{
  width: 50vw; 
  margin: auto; 
  margin-bottom: 20px;
}


