.table-check{
}

.point{
  border: none;
  width: 50px;
  height: 20px;
}

.check-list-title{
  background-color: #c0c0c0;
  
}
.check-list{
  background-color: #e0e0e0;
}

.addition{
  background-color: #335495;
  color: white;
  margin: 10px;
  padding: 1vmin 3vmin;
}

.score{
  margin-left: 20px;
  font-size: 20px;
  border-bottom: double 6px red;
}

.check-index{
  margin-top: 40px;
}

.check-show{
  margin-top: 50px;
}
.check-show-title{
  text-align: center;
  font-size: 4vmin;
  margin-bottom: 40px;
}

.my-list{
  text-align: center;
  font-size: 3vmin;
  margin: 30px 0 10px;
}