.top-page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  width: 100%;
}

.menu-user{
  margin: 10px 20px;
}

.menu-user-btn{
  align-items: center;
  background: #e0e0e0;
  border: 2px solid black;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 2vmin;
}

.page-top {
  font-size: 1vmin;
  padding: 10px;
  background-color: #253141;
  height: 8vh;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  font-size: 3vmin;
  list-style: none;
  text-align: center;
}

.gnav-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 200px;
}

/* 下線の装飾 */
.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color:white;
}

.gnav-link:hover:after {
  width: 100%;
}
/* 下線の装飾 */



